th,
td {
    text-align: center;
}

.cspt {
    cursor: pointer;
}

.no-wrap {
    white-space: nowrap;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.importantInformationDiv {
    width: 300px;
    height: 100px;
}

.form-group {
    position: relative;
}

.floating-label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0.5rem;
    pointer-events: none;
    transition: 0.2s ease all;
    color: #6c757d;
    transform: translate(0, 0.75rem) scale(1);
}

.form-control:focus~.floating-label,
.form-control:not(:placeholder-shown)~.floating-label {
    top: -0.5rem;
    left: 0.25rem;
    background: #fff;
    padding: 0 0.25rem;
    font-size: 0.75rem;
    color: #495057;
    transform: translate(0, -50%) scale(0.85);
}
.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}